
.container {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}


.app-cont{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding-top: 10px;

}

.grid {
 display: grid;
 grid-template-columns: repeat(5, minmax(0,9fr));
 gap: 20px 10px;

}

.barr{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.barr2 button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    border-radius: 10px;
    width: 180px;
    height: 30px;
    color: #f3f6f8;
    border-color: #271568;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    font-size: 20px;
    background-color: #282639 ;
    
}
.barr3{
    display: flex;
    padding-top: 10px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    height: 20px;
}
.container h1{
    padding-left: 7px;


    
}

.barr img{
    position: inherit;
    transform: translate(10%, -15%);
    
}
.barr h1{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font: bold;
    transform: translate(-5%, -5%);
    font-size: 100px;
    color: rgba(75, 65, 135, 0.963);
    text-shadow: 0 9px 16px #000;
    
}


.forma{
    position:absolute;
    bottom: 20px;
    display: flex;
    transform: translate(3%, -10%);
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: center;
    padding-top: 15px;
    height: 120px;
      
    
    
}
.bloq1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    flex-wrap:nowrap;
    justify-content: space-around;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    margin-top: 10px;
   
}

.bloq1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right:1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font: bold;

    
}

.bloq1 img{
width: 90px;
}
.suramerica img{
    height: 100px;
}

.actividad{
    display: flex;
    justify-content: center;
    align-items: center;

}
.actividad div{
    padding-left: 15px;

}

.encabezado{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #809280;
    padding: 5px;
    box-shadow: 0 1px 15px #757969c4;
    height: 140px;

}

.ordenar select{
    width: 170px;
    height: 30px;
    border-radius: 10px;
    color: #f9f9f9;
    border-color: #331e9c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    background-color:#282639 ;
    font-size: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 9px 15px rgba(46, 47, 68, 0.505);
}

.ordenar option{
    align-items: center;
    background-color:  #282639;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #229433 ;
    font-size: 15px;
}


.filtro-act select{
    width: 110px;
    height: 30px;
    display:flex;
    border-radius: 10px;
    color: #f3f0e9;
    border-color: #331e9c;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font: bold;
    background-color: #282639 ;
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0 9px 15px rgba(28, 31, 28, 0.505);
}
.filtro-act option{
    align-items: center;
    background-color:  #282639;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #38a052 ;
    font-size: 15px;
}

.crear Link{
   
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}