  .paginadoContainer{
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin:10px;
      height: 20px;
      
  }
  .currentPag{
      width: 40px;
      background-color: cornflowerblue;
      display: inline-block;
      background-color: #d5670e;
      border-radius: 10px;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
  }
  .currentPag:hover{
      cursor: pointer;
      background-color: #3d3a43;
      color: rgb(219, 233, 219);
      border-radius: 10px;
   
  }