

.containerr {
    display: flex;
    align-items: center;
    
}

.containerr input{
 width: 130px;  
 height: 30px;
 border-bottom-left-radius: 10px;
 border-top-left-radius: 10px;
 

}


.btnn button {
    width: 60px;
    height: 30px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    color: #f9f9f9;
    border-color: #3333bc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font: bold;
    background-color: #282639 ;
    font-size: 15px;
    box-shadow: 0 9px 15px rgba(46, 47, 68, 0.505);
    
}


