

.form {
    background-color: transparent;
    margin-left: -40px;
    
}

.btn{
 /* width: 130px;  
 height: 30px; */
 background-color: #2f2b4e;
 color:  #f7f7fa;
 /* box-shadow: 0 9px 5px rgba(46, 47, 68, 0.505); */
 padding-right: 10px;
    border-radius: 5px;

}


.button {
    width: 60px;
    height: 30px;
    align-items: center;
    border-bottom-right-radius: 60px;
    border-top-right-radius: 10px;
    color: #f9f9f9;
    border-color: #3333bc;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;;
    font: bold;
    background-color: #282639 ;
    font-size: 15px;
    box-shadow: 0 9px 15px rgba(46, 47, 68, 0.505);
    
}
 



